$primary-green: #447C2A;
$secondary-green: #1E3712;

.app_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.green--flashing {
  animation: flashing infinite 2s linear;
}

@keyframes flashing {
  0% {
    background-color: $secondary-green;
  }
  50% {
    background-color: $primary-green;
  }
  100% {
    background-color: $secondary-green;
  }
}

/* region header */
.header {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}

.header__gt-icon {

}

.header__heading--animated {

}

.header__itinerary {

}
/* end region header */


/* region body */
.body {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
}

.body__trip-info {

}

.body__trip-info__vertical-divider {

}

.body__horizontal-divider {

}

.body__ticket-number {

}

.body__countdown-container {

}

.body__countdown-container__current-time {

}

.body__countdown-container__current-time__heading {
  
}

.body__countdown-container__current-time__clock {
  
}

.body__countdown-container__time-since-activation {

}

.body__countdown-container__time-since-activation__heading {

}

.body__countdown-container__time-since-activation__clock {

}
/* end region body */


/* region footer */
.footer {
  display: block;
  height: 35%;
  width: 100%;
}

.footer__disclaimer {

}

.footer__hourglass {

}
/* end region footer */



